<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v0</title>
<!--    <script src="node_modules/vue/dist/vue.js"></script>-->
<!--    <script src="./node_modules/vue/dist/vue.global.js"></script>-->
    <script src="https://cdn.bootcss.com/vue/2.6.12/vue.min.js"></script>
    <style>
        #app {
            margin: 100px;
            font-size: 50px;
            font-family: "Times New Roman";
        }
        input {
            text-align: center;
            height: 50px;
            position: relative;
            left: 500px;
        }
        .header {
            border: 5px black solid;
            margin: 100px;
            text-align: center;
            width: 30%;
        }
    </style>
</head>
<body>
    <div id="app">
        <p v-if="isShown">{{ msg }}</p>
        <input type="text" v-model="msg">
    </div>
    <section class="header" v-show="isShown">
        <header>
            <h1 v-if="x > y">{{ title_A }}</h1>
            <h1 v-else>{{ title_B }}</h1>
            <h2 v-if="x > y">{{ title_B }}</h2>
            <h2 v-else-if="x !== y">{{ title_A }}</h2>
        </header>
    </section>
</body>
<script>
    var exmapleData = {
        msg: 'Hello World!',
        isShown: true
    };
    new Vue({
        el: '#app',
        data: exmapleData
    });
    var titleData = {
        title_A: "Apple",
        title_B: "Banana",
        x: 30, y: 40,
        isShown: false
    };
    new Vue({
        el: 'section',
        data: titleData
    });
</script>
</html>